In [9]:
query = '''
SELECT customer.customer_id, customer.email, COUNT(*) AS "payments_count", CAST(SUM(payment.amount) AS FLOAT) AS "total_amount"
FROM customer 
INNER JOIN payment ON customer.customer_id = payment.customer_id
GROUP BY customer.customer_id, customer.email
ORDER BY "total_amount" DESC
LIMIT 10
'''